<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Panneau de configuration{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset("normalize-3.0.3.min.css", "css") }}">
    <link rel="stylesheet" href="{{ asset("main.css", "css") }}">
    <link rel="stylesheet" href="{{ asset("admin.css", "css") }}">
    <link rel="stylesheet" href="{{ asset("ui-button.css", "css") }}">
    <link rel="stylesheet" href="{{ asset("ui-form.css", "css") }}">
    <link rel="stylesheet" href="{{ asset("ui-table.css", "css") }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="admin">
<header>
    <div class="container">
        <h1 id="logo">La Perruque - Pannneau d'administration</h1>
        <p class="subtitle">c'est mon truc</p>
        <nav>
            <a class="button-primary button" href="{{ url('admin_perruque') }}">perruque</a>
        </nav>
    </div>
</header>
<main class="container">
    {% block main %}
        <p>contenu par défaut</p>
    {% endblock %}
</main>
<footer>
    <div class="container">
        {% block footer %}
            <p>Le pied de page</p>
        {% endblock %}
    </div>
</footer>
</body>
</html>